# Node environment
NODE_ENV=development

# Server port
PORT=3000

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Postgres connection string
# Render Postgres example:
DATABASE_URL="postgresql://user:password@host/db?sslmode=require&uselibpqcompat=true"

# Better Auth
BETTER_AUTH_SECRET=your-secret-key
BETTER_AUTH_URL=http://localhost:3000 

# Resend (mailing)
RESEND_API_KEY=your-resend-api-key
EMAIL_FROM=your-email-from
