# Server port
PORT=3000

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Neon DB
DATABASE_URL="pooled connection string"
# Direct connection (no pooler) for migrations (local only)
DATABASE_URL_DIRECT="direct connection string"

# Better Auth
BETTER_AUTH_SECRET=your-secret-key
BETTER_AUTH_URL=http://localhost:3000 